<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="color:turquoise">Surabhi Restaurant</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      
      </li>
    </ul>

    <ul class="navbar-nav">
      <a class="nav-link"  routerLink="/Admin" routerLinkActivate="active" style="color: turquoise;">Admin</a>
      <a class="nav-link"  routerLink="/User" routerLinkActivate="active" style="color: turquoise;">User</a>
    </ul>
  </div>
</nav>
<body style="background-color: rgb(190, 233, 233);"><br><br>



<div class="container">
  <router-outlet></router-outlet>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
