<br>
<div style="background-color:rgb(39, 6, 60)"><br><br><h1 style="color: rgb(83, 183, 240);text-align: center;font-size: 30px;"><br><br><h1>Welcome Admin</h1><br><br>
<br><body style="background-color: rgb(190, 233, 233);"><br><br><form #userlogin="ngForm"(ngSubmit)="LoginData(userlogin)" [formGroup]="reactiveFormlog">
    <div>
        <label for="Username" style="color: rgb(206, 56, 203);font-weight: bold;">Username</label><br>
        <input type="text" name="Username" ngModel formControlName="Username"><br>
    </div>
    <div>
        <label for="Password" style="color: rgb(206, 56, 203);font-weight: bold;">Password</label><br>
        <input type="password" name="Password" ngModel formControlName="Password"><br>
    </div><br>
    <div>
        <input type="submit" value="Login" [disabled]="reactiveFormlog.invalid" style="background-color: aquamarine;"><br>
    </div>
</form></body>


