<br>
<button (click)="logoutUser()" style="margin-left: 97%;background-color:rgb(206, 56, 203);font-weight: bold;height: 40px; width: 80px;cursor:pointer;">Logout</button><br><br>
<div style="background-color:rgb(39, 6, 60);"><br><br><h1 style="color: rgb(83, 183, 240);text-align: center;font-size: 30px;">Welcome {{session}}</h1><br><br><hr>
<body style="background-color:rgb(190, 233, 233);"><br>
<div>
    <button (click)="Itemslist()" style="margin-left: 30%;background-color:rgb(206, 56, 203);font-weight: bold; height: 40px; width: 80px;">Menu</button>
    <button (click)="Cart()" style="margin-left: 27%;background-color:rgb(206, 56, 203);font-weight: bold;height: 40px; width: 80px;">Cart</button>
    

</div> 
</body>